@using Data


<div style="border: outset 3px;">
    <div style="display: grid; grid-template-columns: 2fr 2fr;">

        <div style="background: lightgrey;">Contest Title</div>
        <div style="background: lightgrey;">@Winner.Title</div>
        <div style="background: lightgrey;">Month</div>
        <div style="background: lightgrey;">@Winner.Month</div>
        <div style="background: lightgrey;">Rider</div>
        <div style="background: lightgrey;">@Winner.Rider</div>

    </div>
    <div>Month: @Winner.Month</div>
    <div>Rider: @Winner.Rider</div>
    

    @if (Winner.Jersey == "White")
    {
        <WhiteJersey></WhiteJersey>
    }
    @if (Winner.Jersey == "Polka Dot")
    {
        <PolkaDotJersey></PolkaDotJersey>
    }
    @if (Winner.Jersey == "Green")
    {
        <GreenJersey></GreenJersey>
    }
    @if (Winner.Jersey == "Maillot Jaune")
    {
        <MaillotJaune></MaillotJaune>
    }

</div>




@code {
    [Parameter]
    public ContestWinner Winner { get; set; }
}
